html,body{
  
  font-family: Arial, sans-serif;
  margin:0;
  overflow-x:hidden;
}

header{
    background-color: #000000; /* Header background color */
    color: #FFFFFF; /* Header text color */
    text-align: center; /* Center text */
    height: 100vh;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    


}

img {
	border-radius: 25px;
	padding: 20px;
	
}

p {
	font-size: 15px;
	display: block;
}
	
main{
	margin:0;
}

.sidebar {
	position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    background-color: #000000; /* Sidebar background color */
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
	display: flex;
	
}

.sidebar li {
    margin-right: 15px; /* Padding for each list item */
}

.sidebar a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    
}

.sidebar a:hover {
   font-weight: bold;
   color: #03aee5;
}

.highlight {
    color:#03aee5;
    font-weight:bold;
}

.TwoColumn{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1; /* Each column will take equal space */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.left {
    background-color: #f0f0f0; /* Light gray background for left column */
}

.right {
    background-color: #e0e0e0; /* Slightly darker gray for right column */
}
/* IMAGES FORMATTING */
.Headshot {
    width: 100px; /* Set the width of the image */
    height: 100px; /* Set the height of the image */
    border-radius: 50%; /* Make the image round */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

#education ul {
    list-style: none;

}
#education ul li a {
    text-decoration: none;
    color: black;
}

#education ul li a:hover { /* hover for YT links*/
    font-weight:bold;
}

#contact p a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}

footer {
    text-align: center; /* Center footer text */
    padding: 10px; /* Padding for footer */
    background-color: #000000; /* Footer background color */
    color: white; /* Footer text color */
    position: relative; /* Position relative for footer */
    bottom: 0; /* Align to the bottom */
    
}
@media (max-width: 768px) {
	.TwoColumn{
		display:none
	}
}
@media (min-width: 768px) {
	.Container{
		display:none
	}
}		


