html,body{
  
  font-family: Arial, sans-serif;
  margin:0;
  overflow-x:hidden;
}

header{
    background-color: #000000; /* Header background color */
    color: #FFFFFF; /* Header text color */
    text-align: center; /* Center text */
    height: 100vh;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    


}

img {
	border-radius: 25px;
	padding: 20px;
	
}

p {
	font-size: 15px;
	display: block;
}
	
main{
	margin:0;
}

.sidebar {
	position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    background-color: #000000; /* Sidebar background color */
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
	display: flex;
	
}

.sidebar li {
    margin-right: 15px; /* Padding for each list item */
}

.sidebar a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    
}

.sidebar a:hover {
   font-weight: bold;
   color: #03aee5;
}

.content {
	color: #FFFFFF;
    padding: 20px; /* Padding for the content */
    background-color: #000000;

	
}

.highlight {
    color:#03aee5;
    font-weight:bold;
}

#innovate {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 20px;
}

#automate {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 20px; 
}

#elevate {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 20px;
}


#education ul {
    list-style: none;

}
#education ul li a {
    text-decoration: none;
    color: black;
}

#education ul li a:hover { /* hover for YT links*/
    font-weight:bold;
}

#contact p a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}

footer {
    text-align: center; /* Center footer text */
    padding: 10px; /* Padding for footer */
    background-color: #000000; /* Footer background color */
    color: white; /* Footer text color */
    position: relative; /* Position relative for footer */
    bottom: 0; /* Align to the bottom */
    
}

/* Styling for the damn hamburger menu */
.hamburger-button {
  display: none;
}



/* Make it a hamburger menu on small screens */
@media (max-width: 768px) {
  .hamburger-button {
    display: block;
	position: fixed;
	top: 0;
	right: 3%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .hamburger-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-button span:before, .hamburger-button span:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-button span:before {
    top: -8px;
  }

  .hamburger-button span:after {
    top: 8px;
  }

  .hamburger-button.active span {
    background-color: transparent;
  }

  .hamburger-button.active span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-button.active span:after {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hamburger-menu {
    display: block;
    list-style-type: none;
    position: absolute;
    top: 15px;
    left: -40px;  
  }
 .hamburger-menu a {
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    color: #ffffff;
    

  .hamburger-menu li {
        padding: 10px;
        font-size: 15px;
    }
  .hamburger-menu.active {
        display: block;
	width:75px;
	padding: 15px;
  }
  
  .sidebar {
	display: none;
}
}


