html,body{
  
  font-family: Arial, sans-serif;
  margin:0;
  overflow-x:hidden;
}

header{
    background-color: #000000; /* Header background color */
    color: #FFFFFF; /* Header text color */
    text-align: center; /* Center text */
    height: 100vh;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    


}

img {
	border-radius: 25px;
	padding: 20px;
	
}

p {
	font-size: 15px;
	display: block;
}
	
main{
	margin:0;
}

.sidebar {
	position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    background-color: #000000; /* Sidebar background color */
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
	display: flex;
	
}

.sidebar li {
    margin-right: 15px; /* Padding for each list item */
}

.sidebar a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    
}

.sidebar a:hover {
   font-weight: bold;
   color: #03aee5;
}

.highlight {
    color:#03aee5;
    font-weight:bold;
}

.About{
    text-align: center;
    margin: 20px;
}

.Education {
}

.Mobile_About {
    text-indent: 20px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.Desktop_About {
    width: 30%;
    margin: 0 auto;
    text-align: left;
}

.TwoColumn{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1; /* Each column will take equal space */
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
    border: 1px solid #000000;
    border-radius: 15px;
    margin:20px;
    background-color: #f0f0f0;
}

.Headshot {
	    width: 300px; /* Set the width of the image */
	    height: auto; /* Set the height of the image */
	    border-radius: 50%; /* Make the image round */
	    object-fit: cover; /* Ensure the image covers the area without distortion */
}
#Innovate  {
    border: 1px solid #000000; /* black border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside sections */
    margin: 20px 15px; /* Space between sections */
}

#Elevate  {
    border: 1px solid #000000; /* black border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside sections */
    margin: 20px 15px; /* Space between sections */
}
	
#education ul {
    list-style: none;

}
#education ul li a {
    text-decoration: none;
    color: black;
}

#education ul li a:hover { /* hover for YT links*/
    font-weight:bold;
}
#contact {
     margin: 20px;
}

#contact p a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}

footer {
    text-align: center; /* Center footer text */
    padding: 10px; /* Padding for footer */
    background-color: #000000; /* Footer background color */
    color: white; /* Footer text color */
    position: relative; /* Position relative for footer */
    bottom: 0; /* Align to the bottom */
    
}
/*OPTIMIZING FOR MOBILE*/
@media (max-width: 768px) {
	.TwoColumn{
		display:none
	}
	.Headshot {
	    width: 150px; /* Set the width of the image */
	    height: auto; /* Set the height of the image */
	    border-radius: 50%; /* Make the image round */
	    object-fit: cover; /* Ensure the image covers the area without distortion */
	}
	.Desktop_About{
		display:none;
	}
}
@media (min-width: 768px) {
	.Container{
		display:none
	}
	.Mobile_About {
		display:none;
	}
}		


